.QrCode {
  font-family: Arial, sans-serif;
  color: #333;
  min-height: 100vh; /* Ensures the container spans the full height of the viewport */
  text-align: center;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}
.QrCode .QrCode-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.QrCode h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
  margin-bottom: 50px;
  color: black;
  background-color: #e4b358;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 50px 50px 50px 50px / 30px 30px 70px 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.QrCode .QrCode-container {
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 300px;
  text-align: center;
  position: relative;
  background-image: url("../../assets/Bg-6.webp");
  background-size: cover;
  background-repeat: no-repeat; /* Prevents repeating of the container background */
  background-position: center;
}
.QrCode-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998; /* Behind the `.QrCode-container` */
}

.QrCode .QrCode-container h3 {
  font-family: Apple Chancery, cursive;
  font-size: 1.5rem;
  color: black;
}

.QrCode .QrCode-code-wrapper {
  display: none;
  margin-top: 15px;
  text-align: center;
}

.QrCode .QrCode-code-wrapper.show {
  display: block;
}

.QrCode .tooltip {
  visibility: hidden;
  color: #b28228;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.QrCode .QrCode-code-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.QrCode button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid black;
  background-color: #b28228;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease;
}

.QrCode button:hover {
  background-color: #875d11;
  color: white;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .QrCode h1 {
    font-size: 1.7rem;
  }

  .QrCode .QrCode-container {
    width: 95%;
    padding: 15px;
  }

  .QrCode button {
    font-size: 13px;
    padding: 8px 15px;
  }
}
